node_modules
dist
build
*.min.js
*.min.css
coverage
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
pnpm-debug.log*
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
*.tgz
*.tar.gz
